// 添加移动端媒体查询
@media screen and (max-width: 768px) {
    .ps-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 92vh;

        .ps-nav {

            width: 90%;
            max-width: 90%;
            height: 100px !important;
            margin-top: 0px !important;
            border-radius: 5px;

            display: flex;
            flex-direction: row;
            align-items: center !important;
            justify-content: flex-start !important;
            overflow-y: scroll;


            .ps-nav-item {
                width: 20px !important;
                height: 80px !important;
                line-height: 20px;
                border-radius: 5px;
                margin: 5px;
                text-align: center;

                font-size: 12px;
            }

            .ps-nav-item:hover {

                color: rgb(151, 151, 151);
                transition: all 0.3s linear;


            }


        }

        .ps-content {
            width: 90%;
            max-height: 80vh;
            background-color: white;
            margin-top: 20px;
            box-shadow: 2px 2px 3px #dedede inset,
                -2px -2px 3px #ffffff inset;

            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            padding-bottom: 50px;

            .ps-sites-card {
                margin-top: 30px;
                width: 320px;

                display: flex;
                flex-direction: column;


                .ps-sites-card-title {
                    font-family: '剑豪体';

                    margin-bottom: 5px;

                }

                .ps-sites {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .ps-site {

                        margin: 5px;
                        width: 150px;
                        height: 70px;
                        border: 2px white dotted;

                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 5px 10px;




                        .ps-site-info {
                            display: flex;
                            flex-direction: row;

                            .ps-site-icon {

                                width: 30px;
                                height: 30px;
                                background-color: white;
                                border-radius: 5px;
                                padding: 2px;

                            }

                            .ps-site-title {
                                margin-left: 15px;
                                height: 30px;
                                line-height: 30px;
                                font-size: 10px;
                                font-weight: 600;
                                font-family: 'zqk英文';

                            }

                        }

                        .ps-site-intro {
                            margin-top: 5px;
                            height: 16px;
                            color: rgb(148, 143, 143);
                            font-size: 8px;
                            line-height: 8px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .ps-site:hover {

                        border: 2px rgb(109, 188, 219) dotted;
                        background-color: white;

                        transition: all 0.6s linear;

                        box-shadow: none;

                        background-image: none;



                        .ps-site-info {

                            transition: all 0.6s linear;

                            .ps-site-icon {
                                width: 30px;
                                height: 30px;
                                background-color: white;
                                border-radius: 5px;
                                padding: 2px;
                                transition: all 0.6s linear;

                            }

                            .ps-site-title {
                                color: rgb(136, 166, 226);

                                transition: all 0.6s linear;


                            }

                        }

                        .ps-site-intro {
                            color: rgb(86, 172, 230);

                            transition: all 0.6s linear;


                        }
                    }
                }
            }



        }


        .ps-container {
            background-color: white;
        }
    }
}