@import '../../style/vars.scss';

.ps-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ps-nav {
        min-width: 200px;


        max-height: 100vh;
    }

    .ps-content {
        .ps-content-block-sites {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: .625rem;

            .site-card {


                border: .125rem $my_bg_color_02 dotted;


                margin: .75rem;

                width: 18.75rem;
                height: 7.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                border-radius: .5rem;

                background-color: $my_bg_color_02;

                box-shadow: .125rem .125rem .0625rem $my_bg_color_01_a,
                    -.125rem -.125rem .0625rem $my_bg_color_01_c;

                .site-icon {
                    margin-left: .9375rem;
                    // background-color: $mycolor_y;

                    padding: .3125rem;
                    width: 4.375rem;
                    height: 4.375rem;
                    border-radius: .3125rem;
                    box-shadow: .125rem .125rem .3125rem $my_bg_color_02_a inset,
                        -0.125rem -0.125rem .3125rem $my_bg_color_02_b inset;

                }

                .site-info {
                    margin-right: .625rem;
                    // background-color: $mycolor_1;
                    width: 11.25rem;
                    height: 5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .site-title {
                        // background-color: $mycolor_y;
                        width: 10rem;
                        height: 1.875rem;
                        line-height: 1.875rem;
                        text-align: center;
                        font-weight: 600;
                        // border-radius: .5rem;
                        border-radius: .125rem;

                        font-family: 'zqk英文';


                        box-shadow: .125rem .125rem .1875rem $my_bg_color_02_a,
                            -0.125rem -0.125rem .1875rem $my_bg_color_02_b;
                    }

                    .site-intro {
                        // background-color: $mycolor_y;
                        // 网址描述的首行缩进
                        padding-left: .625rem;
                        color: gray;
                        width: 10rem;

                        height: 1.875rem;
                        font-size: .75rem;
                        text-align: center;
                        line-height: 1.875rem;
                        // border-radius: .5rem;
                        border-radius: .125rem;
                        box-shadow: .125rem .125rem .1875rem $my_bg_color_02_a,
                            -0.125rem -0.125rem .1875rem $my_bg_color_02_b;

                    }
                }
            }

            // 悬浮时卡片特效

            .site-card:hover {

                background-color: $my_bg_color_03;

                display: flex;



                border: .125rem white dotted;

                .site-icon {
                    margin-left: .9375rem;
                    // background-color: $mycolor_x;
                    padding: .3125rem;
                    width: 4.375rem;
                    height: 4.375rem;
                    border-radius: .3125rem;

                    background-color: $my_bg_color_02;


                    // box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a inset,
                    //     -0.125rem -0.125rem .1875rem $my_bg_color_03_b inset;



                }

                .site-info {

                    display: flex;


                    .site-title {


                        font-weight: 600;
                        border-radius: .625rem;


                        color: whitesmoke;
                        box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a,
                            -0.125rem -0.125rem .1875rem $my_bg_color_03_b;



                    }

                    .site-intro {

                        text-align: center;
                        color: white;

                        box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a,
                            -0.125rem -0.125rem .1875rem $my_bg_color_03_b;





                    }
                }
            }
        }

    }
}