@import '../../style/vars.scss';



.page-sites-all {

    min-height: 92vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ps-nav {
        // 此处必须设置最小高度，否则加入 overflow 属性会消失（原因不明）
        min-height: 3.125rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        overflow-x: scroll;


        box-shadow: 0.125rem 0.125rem .25rem $my_bg_color_02_a,
            -0.125rem -0.125rem .25rem $my_bg_color_02_b;


        .ps-nav-item {

            background-color: $my_bg_color_02_b;
            background-color: aliceblue;
            height: 1.875rem;
            min-width: 5rem;
            // 边距加高度必须等于外部容器的高，不然会出现异常
            margin: .625rem;
            border-radius: .25rem;
            color: rgb(88, 83, 83);
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: '剑豪体';
            box-shadow: 0.125rem 0.125rem .1875rem $my_bg_color_02_a inset,
                -0.125rem -0.125rem .1875rem $my_bg_color_02_b inset;
        }

        .ps-nav-item:hover {
            color: white;

            background-color: #194848;
            font-weight: 400;
            box-shadow: none;

            border: .125rem white dotted;

        }


    }

    .ps-search {
        margin-top: 2px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .ps-content {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;


        // 卡片块 
        .ps-content-block {

            max-width: 100rem;
            min-height: 18.75rem;
            margin: 0.625rem;

            display: flex;
            flex-direction: column;



            border-radius: 1.25rem;
            box-shadow: 0.1875rem 0.1875rem .25rem $my_bg_color_02_a inset,
                -0.1875rem -0.1875rem .25rem $my_bg_color_02_b inset;



            .ps-content-block-title {
                margin: 1.25rem;
                // background-color: $mycolor_x;
                font-size: 1rem;
                font-weight: 800;
                height: 2rem;
                line-height: 2rem;
                width: 7.5rem;
                text-align: center;
                color: rgb(97, 92, 92);


                border-radius: .75rem;
                box-shadow: .125rem .125rem .1875rem $my_bg_color_02_a inset,
                    -0.125rem -0.125rem .1875rem $my_bg_color_02_b inset;
            }

            .ps-content-block-sites {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: .625rem;

                .site-card {


                    border: .125rem $my_bg_color_02 dotted;


                    margin: .75rem;

                    width: 18.75rem;
                    height: 7.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    border-radius: .5rem;

                    background-color: $my_bg_color_02;

                    box-shadow: .125rem .125rem .0625rem $my_bg_color_02_a,
                        -.125rem -.125rem .0625rem $my_bg_color_02_b;

                    transition: all 0.6s linear;


                    .site-icon {
                        margin-left: .9375rem;
                        // background-color: $mycolor_y;

                        padding: .3125rem;
                        width: 4.375rem;
                        height: 4.375rem;
                        border-radius: .3125rem;
                        box-shadow: .125rem .125rem .3125rem $my_bg_color_02_a inset,
                            -0.125rem -0.125rem .3125rem $my_bg_color_02_b inset;
                        transition: all 0.6s linear;


                    }

                    .site-info {
                        margin-right: .625rem;
                        // background-color: $mycolor_1;
                        width: 11.25rem;
                        height: 5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        transition: all 0.6s linear;


                        .site-title {
                            // background-color: $mycolor_y;
                            width: 10rem;
                            height: 1.875rem;
                            line-height: 1.875rem;
                            text-align: center;
                            font-weight: 600;
                            // border-radius: .5rem;
                            border-radius: .125rem;

                            font-family: 'zqk英文';


                            box-shadow: .125rem .125rem .1875rem $my_bg_color_02_a,
                                -0.125rem -0.125rem .1875rem $my_bg_color_02_b;
                            transition: all 0.6s linear;

                        }

                        .site-intro {
                            // background-color: $mycolor_y;
                            // 网址描述的首行缩进
                            padding-left: .625rem;
                            color: gray;
                            width: 10rem;

                            height: 1.875rem;
                            font-size: .75rem;
                            text-align: center;
                            line-height: 1.875rem;
                            // border-radius: .5rem;
                            border-radius: .125rem;
                            box-shadow: .125rem .125rem .1875rem $my_bg_color_02_a,
                                -0.125rem -0.125rem .1875rem $my_bg_color_02_b;
                            transition: all 0.6s linear;


                        }
                    }
                }

                // 悬浮时卡片特效

                .site-card:hover {

                    background-color: $my_bg_color_03;

                    display: flex;



                    border: .125rem dashed white;

                    .site-icon {
                        margin-left: .9375rem;
                        // background-color: $mycolor_x;
                        padding: .3125rem;
                        width: 4.375rem;
                        height: 4.375rem;
                        border-radius: .3125rem;

                        background-color: $my_bg_color_02;


                        // box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a inset,
                        //     -0.125rem -0.125rem .1875rem $my_bg_color_03_b inset;



                    }

                    .site-info {

                        display: flex;


                        .site-title {


                            font-weight: 600;
                            border-radius: .625rem;


                            color: whitesmoke;

                            border: 1px dashed rgb(214, 214, 222);


                            box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a,
                                -0.125rem -0.125rem .1875rem $my_bg_color_03_b;

                        }

                        .site-intro {

                            text-align: center;
                            color: white;

                            box-shadow: .125rem .125rem .1875rem $my_bg_color_03_a,
                                -0.125rem -0.125rem .1875rem $my_bg_color_03_b;


                        }
                    }
                }
            }


        }
    }


}

// 屏幕小于1000px 去除搜索栏
@media (min-width: 0) and (max-width: 1000px) {
    .page-sites-all {


        .ps-search {
            display: none;
        }


    }
}