@import '../../style/vars.scss';



.page-sites-all {

    min-height: 92vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ps-nav {
        // 此处必须设置最小高度，否则加入 overflow 属性会消失（原因不明）
        min-height: 3.125rem;
        width: 100%;
        margin-top: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        overflow-x: scroll;

        border-bottom: 2px dashed rgb(228, 228, 246);




        .ps-search {

            width: 60px;
            height: 60px;
            margin-left: 25px;

            // margin-top: 2px;
            // min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

        }








        .ps-nav-item {


            // 边距加高度必须等于外部容器的高，不然会出现异常
            margin: .625rem;
            border-radius: .25rem;
            display: flex;
            justify-content: center;
            align-items: center;



            // 自定义
            // margin: 10px;
            // width: 80px;
            // border-radius: 8px;
            // padding: 5px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // color: #5a5555;
            // font-size: 14px;
            // border: 1px solid #ebeef0;
            // border: 1px solid #d2d7da;




        }

        // .ps-nav-item:hover {
        //     color: rgb(132, 157, 233);

        //     background-color: #ebeef0;

        // }

        // .ps-nav-item {

        //     background-color: $my_bg_color_02_b;
        //     background-color: aliceblue;
        //     height: 1.875rem;
        //     min-width: 5rem;
        //     // 边距加高度必须等于外部容器的高，不然会出现异常
        //     margin: .625rem;
        //     border-radius: .25rem;
        //     color: rgb(88, 83, 83);
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     font-family: '剑豪体';
        //     box-shadow: 0.125rem 0.125rem .1875rem $my_bg_color_02_a inset,
        //         -0.125rem -0.125rem .1875rem $my_bg_color_02_b inset;
        // }

        // .ps-nav-item:hover {
        //     color: white;

        //     background-color: #194848;
        //     font-weight: 400;
        //     box-shadow: none;

        //     border: .125rem white dotted;

        // }


    }



    .ps-content {
        width: 100%;
        // margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;


        // 卡片块 
        .ps-content-block {

            width: 95%;

            min-height: 12.5rem;

            margin: 20px;
            padding-bottom: 1.25rem;

            display: flex;
            flex-direction: column;

            border-radius: 1.25rem;
            box-shadow: 0.1875rem 0.1875rem .125rem rgb(240, 240, 240) inset,
                -0.1875rem -0.1875rem .125rem rgb(250, 245, 245) inset;





            .ps-content-block-title {
                margin: .625rem;

                font-size: 1rem;
                font-weight: 800;
                height: 2rem;
                line-height: 2rem;
                width: 7.5rem;
                text-align: center;
                color: rgb(97, 92, 92);




            }

            .ps-content-block-sites {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 .625rem;


                // 网站卡片
                .site-card {
                    background-color: #ebeef0;

                    // 防止悬浮时特效异常
                    border: .125rem aliceblue dotted;

                    padding: 10px;

                    margin: .5rem;

                    width: 14.375rem;
                    height: 6.25rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    border-radius: .5rem;


                    transition: all 0.6s linear;




                    .site-info {


                        width: 11.25rem;
                        height: 5rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        transition: all 0.6s linear;



                        .site-icon {
                            background-color: white;

                            padding: .125rem;
                            width: 1.875rem;
                            height: 1.875rem;
                            border-radius: .3125rem;

                            transition: all 0.6s linear;


                        }


                        .site-title {
                            margin-left: 15px;
                            width: 11.25rem;
                            height: 1.875rem;
                            line-height: 1.875rem;
                            font-weight: 600;
                            border-radius: .125rem;
                            font-family: 'zqk英文';
                            transition: all 0.6s linear;
                        }





                    }

                    .site-intro {

                        color: gray;
                        width: 11.25rem;
                        height: 1.875rem;
                        font-size: .75rem;

                        line-height: .9375rem;

                        border-radius: .125rem;

                        transition: all 0.6s linear;


                    }
                }

                // 悬浮时卡片特效

                .site-card:hover {
                    border: 2px rgb(109, 188, 219) dotted;
                    background-color: white;

                    .site-info {
                        .site-icon {
                            background-color: transparent;
                        }


                        .site-title {
                            color: rgb(136, 166, 226);
                        }





                    }

                    .site-intro {
                        color: rgb(86, 172, 230);
                    }
                }
            }


        }
    }


}

// 屏幕小于1000px 去除搜索栏
@media (min-width: 0) and (max-width: 1000px) {
    .page-sites-all {


        .ps-search {
            display: none;
        }


    }
}