.page-notes-all {

    $lineColor: #f5f0f0;
    background-image:
        linear-gradient($lineColor 1px, transparent 1px),

        linear-gradient(to right, $lineColor 1px, transparent 1px);

    background-size: 100% 10px, 10px 100%;
    background-position: 0 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 100%;
    min-height: 96vh;
    // background-color: rgb(244, 243, 243);

    .pn-nav {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 800px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: '优设标题黑';
        justify-content: space-around;

        box-shadow: 2px 2px 3px #dedede,
            -2px -2px 3px #f5f0f0;

        border-radius: 10px;

        //  被激活时，固定悬浮特效
        .active {
            color: blueviolet;
            border-bottom: 1px solid blue;
        }

    }

    .pn-content {
        margin-top: 20px;
        min-height: 65vh;
        width: 1500px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;


        .pn-card {
            width: 320px;
            height: 240px;

            margin: 10px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 1px 1px 1px rgb(229, 227, 227);

            transition: all 0.5s;


            box-shadow: 2px 2px 3px #dedede,
                -2px -2px 3px #f5f0f0;

            .pn-cover {


                // border-radius: 15px;
                width: 320px;
                height: 180px;
                background-size: 100%;



                .pn-cover-img {
                    width: 100%;
                    height: 100%;

                    border-radius: 10px 10px 0 0;

                }

            }

            .pn-title {
                height: 60px;
                width: 320px;
                line-height: 60px;
                font-size: 20px;
                font-family: '剑豪体';
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}


.page-notes-all {

    .pn-nav {
        .pn-nav-item:hover {
            color: blueviolet;
            border-bottom: 1px solid blue;
        }
    }

    .pn-content {

        .pn-card:hover {
            transform: scale(0.9);


            .pn-cover {

                border-radius: 10px 10px 0 0;


            }

            .pn-title {
                color: rgb(41, 114, 197);

            }
        }
    }
}