/* 分割线 */

.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange, green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.hr-twill {
    border: 0;
    padding: 2px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}


// 首页图标旋转

.image-src:hover {
    transform: translate(-50%, -50%) rotate(666turn);
    transition: transform 59s 0.5s cubic-bezier(0.3, 0, 0.8, 1);
}