@font-face {
    font-family: "金刚体";
    src: url("/font/ChuangKeTieJinGangTi-2.otf");
}

@font-face {
    font-family: "剑豪体";
    src: url("/font/AaJianHaoTi-2.ttf");
}

@font-face {
    font-family: "zqk英文";
    src: url("/font/ZQKfreefont.ttf");
}

@font-face {
    font-family: '馒头黑体';
    src: url('/font/MantouSans-Regular.ttf');
}

@font-face {
    font-family: "站酷高端黑";
    src: url('/font/站酷高端黑.ttf');
}


@font-face {
    font-family: '胡晓波男神体';
    src: url('/font/HuXiaoBoNanShenTi-2.otf');
}

@font-face {
    font-family: '优设';
    src: url('/font/YouSheBiaoTiHei-2.ttf');
}