//  配色

// $my_bg_color_01: #c3d1b2;
$my_bg_color_01: #c3d1b2;

$my_bg_color_01_a: #b3c0a4;

$my_bg_color_01_b: #d3e2c0;

$my_bg_color_01_c: #c1ceaf;



// $my_bg_color_02: #d9e2db;

$my_bg_color_02: #d9e2db;


$my_bg_color_02_a: #c3cbc5;


$my_bg_color_02_b: #eff9f1;

$my_bg_color_02_c: white;



$my_bg_color_03: #194848;

$my_bg_color_03_a: #174242;

$my_bg_color_03_b: #1b4e4e;


$my_bg_color_04: #7399b0;

$my_bg_color_05: #d9e2db;


$my_bg_color_06: aliceblue;

$my_bg_color_07: #3795b4;

$my_bg_color_08: #d7dee4;

$my_bg_color_08_a: #bfc6cb;

$my_bg_color_08_b: #eff6fd;


:root {
    --MVP-nav-height: 70px;
}