.page-articles-all {

    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;


    .pa-main {
        width: 80%;
        width: 100%;
        max-height: 80vh;


        .pa-navbar {
            padding: 0 10px;

            min-height: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            background-color: white;
            border-bottom: 1px dashed rgb(182, 182, 232);
            position: relative;

            .pa-navbar-info {
                margin: 10px;

                // background-color: #5b6187;
                border: 1px dashed rgb(182, 182, 232);

                min-width: 520px;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;

                .pa-navbar-info-item {
                    width: 140px;
                    height: 40px;
                    padding: 10px;
                    background-color: #99b8a1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 5px;

                    .pa-navbar-info-item-title {
                        padding: 0 8px;
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        background-color: #c4f4c3;
                        color: rgb(202, 180, 38);
                    }


                    .pa-navbar-info-item-num {
                        margin-left: 10px;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        font-size: 14px;
                        background-color: rgb(229, 177, 137);
                        text-align: center;
                    }
                }


            }


            .pa-navbar-search {
                margin: 20px;
                width: 18%;
                // 设置最小宽度是为了手机端看上去比例和谐
                // 因为手机端的18% 是占屏幕是很少的
                min-width: 120px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

            }




        }

        .pa-tabbar {
            margin: 10px;
            // background-color: #ecfced;
            padding: 20px;
            border-radius: 20px;
            // transition: all 0.8s ease;
            border: 2px dashed #1d1d7e;
            background-color: #e3edf3;


            background-image: linear-gradient(to right, rgba(60, 10, 30, 0.04) 1px, transparent 0),
                linear-gradient(to bottom, rgba(60, 10, 30, 0.04) 1px, transparent 0);
            background-size: 20px 20px;


            .pa-navbar-tabbar-item {
                margin: 10px;
                min-width: 100px;
                padding: 0 10px;
                transition: all 0.8s ease;

                .pa-navbar-tabbar-item-text {
                    font-weight: 500;
                }

                .pa-navbar-tabbar-item-num {
                    margin-left: 5px;
                    width: 16px;
                    height: 16px;
                    background-color: #d0a451;
                    border-radius: 8px;
                    line-height: 16px;
                    text-align: center;
                    color: white;
                    font-size: 9px;
                }


            }

            .pa-navbar-tabbar-item:hover {
                .pa-navbar-tabbar-item-num {
                    background-color: red;
                }
            }


        }

        .pa-content {
            display: flex;
            flex-direction: row;
            min-height: 60vh;
            width: 100%;
            padding-left: 10px;

            position: relative;

            .list {
                height: 80vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                overflow-x: scroll;




                .pa-article-card {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    height: 220px;
                    border: 2px dashed #3b72a3;
                    // border: 1px solid #dddfe0;

                    background-color: aliceblue;



                    .pa-article-card-cover {
                        width: 320px;
                        height: 180px;
                        background-color: transparent;

                        display: flex;

                        position: relative;
                        border-bottom: 1px solid rgb(226, 224, 224);
                        background-image: linear-gradient(to right, rgba(60, 10, 30, 0.04) 1px, transparent 0),
                            linear-gradient(to bottom, rgba(60, 10, 30, 0.04) 1px, transparent 0);






                        .pa-article-card-cover-id {
                            position: absolute;
                            background-color: aliceblue;

                            height: 20px;
                            width: 100px;
                            border-radius: 0 0 10px 0;
                            top: 0;
                            left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;





                        }

                        .pa-article-card-cover-img {
                            max-height: 178px;
                            // background-image: url('../../../../public/gallery/24082801.png');


                        }


                        .pa-article-card-tags {
                            position: absolute;
                            display: none;
                            flex-direction: row;
                            flex-wrap: wrap;
                            width: 320px;
                            bottom: 0;



                            .pa-article-card-tags-tag {
                                margin: 5px;
                                padding: 3px;
                                min-width: 50px;
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 10px;
                                background-color: #1d1d45;
                                color: white;
                                font-size: 10px;


                            }
                        }


                    }




                    .pa-article-card-title {
                        height: 50px;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        text-align: center;
                        // background-color: rebeccapurple;
                        font-family: '剑豪体';


                    }


                }

                .pa-article-card:hover {


                    .pa-article-card-tags {
                        display: flex;


                        .pa-article-card-tags-tag:hover {
                            background-color: #e4af52;
                        }
                    }

                    .pa-article-card-title:hover {
                        color: rgb(147, 145, 145);
                    }





                }

            }


        }


    }

    .pa-side {
        width: 20%;
        max-height: 90vh;
        background-color: aliceblue;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;



    }

}

.test1 {
    transition: all 0.8s ease;

}